#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#main-box {
  width: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#login-box {
  height: 60vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#signup-box {
  height: 10vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

/* Instructor Styling */
#add-dive-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Diver Profile Styling */
.profile-box {
  margin: 15px;
  border: solid black;
}
.profile-info {
  height: 10vh;
  width: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: blue;
}
.profile-info img {
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  border: solid black;
}

.dive-container {
  padding: 0.5vh 0vh;
  width: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}

/* Dive box styling */
.dive {
  margin: 1vh;
  height: 15vh;
  width: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.dive-left,
.dive-right {
  margin: 0;
  margin: 1vh;
  height: 15vh;
  width: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}
